/* noto-serif-sc-600 - chinese-simplified */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Noto Serif SC';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/noto-serif-sc-v31-chinese-simplified-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}